body {
    font-family: Georgia, serif; 
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none; 
    color: maroon;
}

a:hover {
    color: yellow; 
    font-weight: 700; 
    cursor: pointer;
}

#span1{
    font-weight: 600;
    color: brown;
}
#span2 {
    font-weight: 200;
    color: aquamarine;
}
#span3 {
    font-weight: 400;
    color: purple;
}
#span4 {
    font-weight: 100;
    color: white; 
}
.boxes {
    margin: 1em;
    padding: 2em; 
    border: solid 1px purple; 
    border-radius: 50px; 
    width: 30em;
    display: block; 
}
#box1 { background-color: blue;

}
#box2 { background-color: red;
                
}
#box3 { background-color: orange; 

}
#box4 { background-color: green; 

}

.img { 
    height: 50px; 
    width: 50px; 
    border-radius: 50px; 
    background-color: chartreuse;
    position: relative; 
    top: 3rem; 
    left: 3rem; 

}

h1 {
     color: black;
}

.original {
     color: turquoise; 
}

.additional {
    color: orange; 
}

#rank1 {
    color: blue;
}

#rank2 {
    color: green;
}

#rank3 {
 color: gray;
}

#rank4 {
 color: brown; 
}

#rank5 {
 color: orange; 
}

ul {
    color: gold
}

.star {
    color: salmon; 
}

#wars {
    color: skyblue; 
}

.finaldiv {
    border: 2px solid black; 
}